*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/****************************************/

body{
    background-color: #083b4c;
}

h1{
    color: white;
    font-size: 60px;
    padding: 20px 0;
    font-weight: 700;
    text-align: center;
}

.container{
    max-width: 1420px;
    margin: auto;
}

ul{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul li{
    list-style-type: none;
    width: 10%;
}

.square{
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;
}

span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* UTILITY CLASSES */

.blue{
    background-color: #1389b2;
}

.red{
    background-color: #f0466f;
}

.green{
    background-color: #0cd6a1;
}

.yellow{
    background-color: #ffd166;
}


/* RESPONSIVENESS CLASSES */

@media screen and (max-width: 1200px){
    ul li{
        width: 12%;
    }
}

@media screen and (max-width: 992px){
    ul li{
        width: 15%;
    }
}

@media screen and (max-width: 768px){
    ul li{
        width: 18%;
    }
}

@media screen and (max-width: 576px){
    ul li{
        width: 20%;
    }
}